body {
	font:normal 12px/15px Georgia, serif;
	margin-top:9%;
}

div>h3 {
	font-size:19px;
	font-weight:bold;
	font-family:courier;
}

div>p {
	font:normal 14pt georgian;
}






.left {
	height:50vh;
	width:30vw;
}

.panel-body, li{
	text-align:center;
}

.body {
	width:27vw;
	max-height:5%;
	padding:0px;
	text-align:center;
}

.v-scroll {
	overflow:scroll;
}

	
	
	
	
	
	
	

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}